@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.8em);

  --color-orange: #bf6225;
  --color-yellow: #e0bd32;
  --color-dark: #10171f;
  --color-light: #ccd59f;
  --color-green: #1d572d;
}

@media (min-width: 48em) {
  :root {
    font-size: 1.125em;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;

  background-color: var(--color-light);
  color: var(--color-dark);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.home-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.home-navigation a {
  text-decoration: none;
  color: inherit;
}

.home-navigation a:hover {
  color: var(--color-orange);
  text-decoration: underline;
}

.subnavigation {
  margin: 1em;
}

.title {
  text-align: center;
}

.title-brand {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5em;
}

.links ul li {
  margin: 0.75em 1em;
}

@media (min-width: 480px) {
  .home-navigation-container {
    position: relative;
  }
  .home-navigation-container::after {
    position: absolute;
    content: '';
    background-image: url('../img/beehive.svg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;

    z-index: -1;
  }
  .home-navigation-container::before {
    position: absolute;
    content: '';
    background-image: url('../img/bee.svg');
    background-repeat: no-repeat;
    background-position: left top;
    width: 100px;
    height: 100px;
    left: 20px;
    bottom: 20px;

    z-index: -1;
  }
  .home-navigation {
    flex-direction: row;
  }

  .links::after {
    position: fixed;
    bottom: 0;
    right: 20px;
    content: '';
    display: block;
    width: 20vw;
    height: 20vw;

    background-image: url('../img/flower.svg');
    background-repeat: no-repeat;
    background-position: left top;
  }
}

@media (min-width: 1024px) {
  .home-navigation-container {
    max-width: 1024px;
    margin: 0 auto;
    background-image: url('../img/bg-main.svg');
    background-repeat: no-repeat;
    background-position: right bottom;

    align-items: flex-start;
  }

  .home-navigation-container::before,
  .home-navigation-container::after {
    content: none;
  }

  .title-brand {
    font-size: 3rem;
    margin-bottom: 0.3em;
  }

  .subnavigation,
  .links {
    max-width: 1024px;
    margin: 1em auto;
  }

  .home-navigation {
    position: absolute;
    font-size: 1.5rem;
    top: 1em;
    left: 1em;
  }
}
